[general]
api_key = {{ libretime_legacy_api_key }}

protocol = {{ root_url_scheme }}
base_url = {{ root_url_host }}
base_port = {{ root_url_port }}
base_dir = {{ root_url_path }}

[database]
host = {{ libretime_postgresql_host }}
port = {{ libretime_postgresql_port }}
name = {{ libretime_postgresql_name }}
user = {{ libretime_postgresql_user }}
password = {{ libretime_postgresql_password }}

[rabbitmq]
host = {{ libretime_rabbitmq_host }}
port = {{ libretime_rabbitmq_port }}
vhost = {{ libretime_rabbitmq_vhost }}
user = {{ libretime_rabbitmq_user }}
password = {{ libretime_rabbitmq_password }}
