[Unit]
Description=LibreTime API Service
Requires=libretime-api.socket

[Service]
Type=notify
KillMode=mixed
PrivateTmp=true

Environment=LIBRETIME_LOG_FILEPATH={{ libretime_log_dir }}/api.log
Environment=LIBRETIME_CONFIG_FILEPATH={{ libretime_config_filepath }}
WorkingDirectory={{ libretime_home }}/api

ExecStart=/usr/local/bin/gunicorn \
        --workers 4 \
        --worker-class uvicorn.workers.UvicornWorker \
        --log-file - \
        --bind unix:/run/libretime-api.sock \
        libretime_api.asgi
ExecReload=/bin/kill -s HUP $MAINPID
Restart=always
User={{ libretime_user }}
Group={{ libretime_user }}

[Install]
WantedBy=multi-user.target
