[Unit]
Description=LibreTime Liquidsoap Service
PartOf=libretime.target

[Service]
NoNewPrivileges=true
CapabilityBoundingSet=
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=full

{% if libretime_venv is defined %}
Environment=PATH={{ libretime_venv }}/bin:/usr/local/bin:/usr/bin:/bin
{% endif %}

Environment=LIBRETIME_CONFIG_FILEPATH={{ libretime_config_filepath }}
Environment=LIBRETIME_LOG_FILEPATH={{ libretime_log_dir }}/liquidsoap.log
WorkingDirectory={{ libretime_home }}/playout

ExecStart={{ libretime_venv | default('/usr/local') }}/bin/libretime-liquidsoap
Restart=always

User={{ libretime_user }}
Group={{ libretime_user }}

[Install]
WantedBy=multi-user.target
