[Unit]
Description=LibreTime Playout Service
PartOf=libretime.target
Wants=libretime-liquidsoap.service
After=libretime-liquidsoap.service

[Service]
{%- if libretime_systemd_hardening %}
NoNewPrivileges=true
CapabilityBoundingSet=
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=full
{%- endif %}

Environment=PATH={{ libretime_venv_dir }}/bin:/usr/local/bin:/usr/bin:/bin
Environment=LIBRETIME_CONFIG_FILEPATH={{ libretime_config_filepath }}
Environment=LIBRETIME_LOG_FILEPATH={{ libretime_log_dir }}/playout.log
WorkingDirectory={{ libretime_home }}/playout

ExecStart={{ libretime_venv_dir }}/bin/libretime-playout
Restart=always

User={{ libretime_user }}
Group={{ libretime_user }}

[Install]
WantedBy=multi-user.target
