[Unit]
Description=LibreTime Worker Service
PartOf=libretime.target

[Service]
{% if libretime_systemd_hardening -%}
NoNewPrivileges=true
CapabilityBoundingSet=
PrivateDevices=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=full
{%- endif %}

Environment=PYTHONOPTIMIZE=2
Environment=PATH={{ libretime_venv_dir }}/bin:/usr/local/bin:/usr/bin:/bin
Environment=LIBRETIME_CONFIG_FILEPATH={{ libretime_config_filepath }}
Environment=LIBRETIME_LOG_FILEPATH={{ libretime_log_dir }}/worker.log
WorkingDirectory={{ libretime_home }}/worker

ExecStart=/usr/bin/sh -c '{{ libretime_venv_dir }}/bin/celery worker \
    --app=libretime_worker.tasks:worker \
    --config=libretime_worker.config \
    --time-limit=1800 \
    --concurrency=1 \
    --loglevel=INFO \
    --logfile=$LIBRETIME_LOG_FILEPATH'
Restart=always

User={{ libretime_user }}
Group={{ libretime_user }}

[Install]
WantedBy=multi-user.target
